@model HRWebApp.Models.Employee;
@{
    ViewData["Title"] = "Employee Page";
}

   <link rel="stylesheet"  href="~/css/table.css" type="text/css"/>
  
    <h3 align="center">Insert  Employee</h3>

@using(Html.BeginForm()){
    <table align="center">
        <tr>
            <th>@Html.LabelFor(Model=>Model.FirstName)</th>
            <td>@Html.EditorFor(Model => Model.FirstName)</td>
        </tr>
         <tr>
            <th>@Html.LabelFor(Model=>Model.LastName)</th>
            <td>@Html.EditorFor(Model => Model.LastName)</td>
        </tr>
         <tr>
            <th>@Html.LabelFor(Model=>Model.Email)</th>
            <td>@Html.EditorFor(Model => Model.Email)</td>
        </tr>
         <tr>
            <th>@Html.LabelFor(Model=>Model.Address)</th>
            <td>@Html.EditorFor(Model => Model.Address)</td>
        </tr>
         <tr>
            <th>@Html.LabelFor(Model=>Model.Password)</th>
            <td>@Html.EditorFor(Model => Model.Password)</td>
        </tr>
         <tr>
            <th>@Html.LabelFor(Model=>Model.DeptId)</th>
            <td>@Html.EditorFor(Model => Model.DeptId)</td>
        </tr>
         <tr>
            <th>@Html.LabelFor(Model=>Model.ManagerId)</th>
            <td>@Html.EditorFor(Model => Model.ManagerId)</td>
        </tr>
    </table>
   <div style="text-align: center;">
  <button>  <input type="submit" value="Insert"/> </button>
  <button>  <a href="/Employee/ShowAll">Back </a> </button>
  </div>
}