@using HRWebApp.Models;
@{
    ViewData["Title"] = "Employee Page";
}

<div class="text-center">
    <h1 class="display-4">Employees</h1>
</div>
@{
    <table>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Address</th>
            <th>Password</th>
            <th>Department Id</th>
            <th>Manager Id</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        @foreach (var employee in ViewData["allemployees"] as List<Employee>)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Email</td>
                <td>@employee.Address</td>
                <td>@employee.Password</td>
                <td>@employee.DeptId</td>
                <td>@employee.ManagerId</td>
            </tr>
        }
    </table>

    
}
