@using HRWebApp.Models;
@model Employee
@{
    ViewData["Title"] = "Employee Page";
}

   <link rel="stylesheet"  href="~/css/table.css" type="text/css"/>


    <h3 align="center">Showing Employee Details</h3>


<table align="center">
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>address</th>
        <th>email</th>
        <th>password</th>
        <th>managerId</th>
        <th>departmentId</th>
         </tr>
         <tr>
            <td>@Model.Id</td>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.Address</td>
            <td>@Model.Email</td>
            <td>@Model.Password</td>
            <td>@Model.ManagerId</td>
            <td>@Model.DeptId</td>
         </tr>
</table>
<div style="text-align: center;">
<button>  <a href="/Employee/ShowAll">Home </a> </button>
<button>  <a href="/Employee/Search">Back </a> </button>
 </div>